.mail {
    color: #212121
}

.call {
    color: #212121
}

.twitter {
    color: #55acee
}

.facebook {
    color: #3b5999
}

.linkedin {
    color: #0077B5
}

.instagram {
    color: #e4405f
}

.youtube {
    color: #ff0000;
}